/* This style sheet contains the "header" files that include the title panel and the
 * navigation panel */

.title-panel {
    background-color: var(--panel-color);
    width: 75%;
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
    font-size: 2rem;
    padding: 0.2rem;
    border: 1rem outset #a0ad9d;
}

 /* Styling for the navigation panel */
.nav-panel {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding-top: 1rem;
    padding-bottom: 3.5rem;
}

/* Navigation button for opening the overall leaderboard */
.lb-button {
    background-color: var(--mario-green);
    border-color: #3b8b3e;
}

/* Navigation button for viewing category weights */
.category-weights-button {
    background-color: var(--mario-blue);
    border-color: #4468be; 
}

/* Styling for navigation buttons */
.nav-button {
    font-size: 1.3rem;
    width: 150px;
    height: 100px;
    border-style: outset;
    border-width: 1rem;
    color: white;
}

.nav-button:hover {
    cursor: pointer;
    opacity: 0.85;
}

/* make the button visually "press down" when it's clicked */
.nav-button:active {
    transform:translateY(2px);
}