
/* Colors that match the super mario 64 theme */
:root {
    --mario-red: #E52521;
    --mario-blue: #3B5BA7; 
    --mario-yellow: #F7D51D; 
    --mario-green: #2d6b2f; 
    --mario-brown: #8B5A2B; 
    --mario-white: #FFFFFF;
    --panel-color: #737C71;
    --yellow-menu-color: #947419; /* <- use this with a gradient to recreate a similar background as the SM64 menu screen */
}

html {
    font-family: cursive;
}


body {
    background-color: var(--yellow-menu-color);
    border-style: inset;
    padding: 2rem;
    border-top-color: #705713;
    border-right-color: #49390d;
    border-bottom-color: #b18a1f;
    border-left-color: #ffcb3c;
    border-width: 1.5rem;
    margin: 2rem;
}


.title-panel {
    background-color: var(--panel-color);
    width: 75%;
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
    font-size: 2rem;
    padding: 0.2rem;
    border-style: outset;
    border-width: 1rem;
    border-left-color: #474d45;
    border-right-color: #a0ad9d;
}

.normal-panel {
    background-color: var(--panel-color);
    border-style: outset;
    border-width: 1rem;
    border-left-color: #474d45;
    border-right-color: #a0ad9d;
}

/* This is the styling for each leaderboard rank"
 * on the list */
.leaderboard-place-panel {
    background-color: var(--panel-color);
    border-style: outset;
    border-width: 1rem;
    border-left-color: #474d45;
    border-right-color: #a0ad9d;
    font-size: 1.5rem;
    padding: 0.75rem;
}

/*  */
.overall-leaderboard-container {
    width: 75%;
    max-width: 700px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;

}

/*  */
.category-weights-container {
    background-color: none;
    width: 75%;
    max-width: 700px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}

/* Styling for the navigation panel */
.nav-panel {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding-top: 1rem;
    padding-bottom: 3.5rem;
}

.overall-lb-nav-panel {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding-top: 1rem;
    padding-bottom: 3.5rem;
    font-size: 2rem;
}

.lb-button {
    background-color: var(--mario-green);
    /* border-left-color: #474d45;
    border-right-color: #a0ad9d; */
    border-color: var(--mario-green);
}

.category-weights-button {
    background-color: var(--mario-blue);
    /* border-left-color: #474d45;
    border-right-color: #a0ad9d; */
    border-color: var(--mario-blue);
}

.nav-button {
    font-size: 1.3rem;
    width: 150px;
    height: 100px;
    border-style: outset;
    border-width: 1rem;
    color: white;
}

.nav-button:hover {
    cursor: pointer;
    opacity: 0.85;
}

/* Styling for the bottom navigation buttons for the overall leaderboard */
.page-cycle-left, 
.page-cycle-right,
.slider-left-btn,
.slider-right-btn {
    background-color: var(--panel-color);
    color: black;
    font-size: 3rem;
    border-left-color: #474d45;
    border-right-color: #a0ad9d;
}

/* Class for "hiding" an element (used by js file) */
.hidden {
    display: none;
}

/* styling for the spinner */
.fa-spinner {
    font-size: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--mario-white);
}

/* Styling for the category weight sliders */
.category-weight-slider {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
}

.category-weight-slider span {
    width: 300px;
}

/* Styling for the slider buttons */
.slider-left-btn, 
.slider-right-btn {
    padding: 1rem;
    margin: 0.5rem;
    border-width: 1rem;
}

