
/* Colors that match the super mario 64 theme */
:root {
    --mario-red: #E52521;
    --mario-blue: #3B5BA7; 
    --mario-yellow: #F7D51D; 
    --mario-green: #4CAF50; 
    --mario-brown: #8B5A2B; 
    --mario-white: #FFFFFF;
    --panel-color: #737C71;
    --yellow-menu-color: #947419; /* <- use this with a gradient to recreate a similar background as the SM64 menu screen */
}

html {
    font-family: cursive;
}


body {
    background-color: var(--yellow-menu-color);
    border-style: inset;
    padding: 2rem;
    border-top-color: #705713;
    border-right-color: #49390d;
    border-bottom-color: #b18a1f;
    border-left-color: #ffcb3c;
    border-width: 1.5rem;
    margin: 2rem;
}


.title-panel {
    background-color: var(--panel-color);
    width: 75%;
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
    font-size: 2rem;
    padding: 0.2rem;
    border-style: outset;
    border-width: 1rem;
    border-left-color: #474d45;
    border-right-color: #a0ad9d;
}

.normal-panel {
    background-color: var(--panel-color);
    border-style: outset;
    border-width: 1rem;
    border-left-color: #474d45;
    border-right-color: #a0ad9d;
}

/* This is the styling for each leaderboard rank"
 * on the list */
.leaderboard-place-panel {
    background-color: var(--panel-color);
    border-style: outset;
    border-width: 1rem;
    border-left-color: #474d45;
    border-right-color: #a0ad9d;
    font-size: 1.5rem;
    padding: 0.75rem;
}

/*  */
.overall-leaderboard {
    background-color: none;
    width: 75%;
    max-width: 700px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}

