
/* Colors that match the super mario 64 theme */
:root {
    --mario-red: #E52521;
    --mario-blue: #3B5BA7; 
    --mario-yellow: #F7D51D; 
    --mario-green: #2d6b2f; 
    --mario-brown: #8B5A2B; 
    --mario-white: #FFFFFF;
    --panel-color: #737C71;
    --yellow-menu-color: #947419; /* <- use this with a gradient to recreate a similar background as the SM64 menu screen */
}

html {
    font-family: cursive;
}


body {
    background-color: var(--yellow-menu-color);
    border: 2rem inset #a9841d;
    padding: 2rem;
    /* border-top-color: #705713;
    border-right-color: #49390d;
    border-bottom-color: #b18a1f;
    border-left-color: #ffcb3c; */
    margin: 2rem;
}


.title-panel {
    background-color: var(--panel-color);
    width: 75%;
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
    font-size: 2rem;
    padding: 0.2rem;
    border: 1rem outset #a0ad9d;
}

.normal-panel {
    background-color: var(--panel-color);
    border: 1rem outset #474d45;
}

.overall-lb-column-headers {
    font-size: 1.5rem;
    height: 1rem;
    display: flex;
    align-items: center;
    margin-top: 2rem;
}

.overall-lb-column-headers span {
   border-left: 2px solid black;
   border-right: 2px solid black;
   padding-left: 0.25rem;
   padding-right: 0.25rem;
   text-align: center;
}

/* This is the styling for each leaderboard rank"
 * on the list */
.leaderboard-place-panel {
    background-color: var(--panel-color);
    border-style: outset;
    border-width: 1rem;
    border-color: #a0ad9d;
    font-size: 1.5rem;
    padding: 0.25rem;
    text-align: left;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    height: 3.75rem;

}

/*  */
.overall-leaderboard-container {
    width: 75%;
    max-width: 700px;
    margin: 0 auto;
    gap: 1rem;
    padding: 1rem;
}

/* Styling for the actually leaderboard placements container that's 
 * scrollable and placements are added to it */
.overall-leaderboard-placements-container {
    /* Make it scrollable */
    height: 600px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;
    /* Firefox styling for the scrollbar */
    scrollbar-color: #49390d var(--yellow-menu-color);
    /* Styling to make it "inset" like the search bar is */
    border: 1rem inset #a9841d;
    margin-top: 1rem;
}




/*  */
.category-weights-container {
    background-color: none;
    width: 75%;
    max-width: 700px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}

/* Styling for the navigation panel */
.nav-panel {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding-top: 1rem;
    padding-bottom: 3.5rem;
}

.overall-lb-nav-panel {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding-top: 1rem;
    padding-bottom: 3.5rem;
    font-size: 2rem;
}

.lb-button {
    background-color: var(--mario-green);
    border-color: #3b8b3e;
}

.category-weights-button {
    background-color: var(--mario-blue);
    border-color: #4468be; 
}

.nav-button {
    font-size: 1.3rem;
    width: 150px;
    height: 100px;
    border-style: outset;
    border-width: 1rem;
    color: white;
}

.nav-button:hover {
    cursor: pointer;
    opacity: 0.85;
}

/* make the button visually "press down" when it's clicked */
.nav-button:active {
    transform:translateY(2px);
}

/* Styling for the bottom navigation buttons for the overall leaderboard */
.page-cycle-left, 
.page-cycle-right,
.slider-left-btn,
.slider-right-btn {
    background-color: var(--panel-color);
    color: black;
    font-size: 3rem;
    /* border-left-color: #474d45;
    border-right-color: #a0ad9d; */
    border: 1rem outset #a0ad9d;
}

/* make the button visually "press down" when it's clicked */
.slider-left-btn:active,
.slider-right-btn:active {
    transform:translateY(2px);
}


/* Class for "hiding" an element (used by js file) */
.hidden {
    display: none;
}

/* styling for the spinner */
.fa-spinner {
    font-size: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--mario-white);
}

/* Styling for the category weight sliders */
.category-weight-slider {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
}

.category-weight-slider span {
    width: 300px;
}

/* Styling for the slider buttons */
.slider-left-btn, 
.slider-right-btn {
    padding: 1rem;
    margin: 0.5rem;
    border-width: 1rem;
}

.slider-left-btn:hover,
.slider-right-btn:hover {
    cursor: pointer;
    opacity: 0.85;
}

/* Styling for the player search bar */
.player-search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.player-search-bar input {
    font-size: 2rem;
    font-family: cursive;
    /* border-style: inset;
    border-top-color: #705713;
    border-right-color: #49390d;
    border-bottom-color: #b18a1f;
    border-left-color: #ffcb3c; */
    border: 1rem inset #a9841d;
    background-color: var(--yellow-menu-color);
    width: 75%;
}

/* Color for the placeholder text */
.player-search-bar input::placeholder {
    color: #49390d;
}


/* Styling for when the player search bar is clicked on or "focused" */
.player-search-bar input:focus {
    outline: none;
}

.player-search-bar button {
    font-size: 2rem;
    font-family: cursive;
    color: black;
    background-color: var(--panel-color);
    /* border-left-color: #474d45;
    border-right-color: #a0ad9d; */
    border: 1rem outset #a0ad9d;
    /* width: 100px; */
}

.highlight {
   background: var(--mario-yellow);
   /* Add this transition so that when the background property DOES change
    * which will happen through javascript, that it happens smoothly */
   transition: background 1s ease; 
}

.highlight.fade {
    background: var(--panel-color);;
}

.player-icon {
    height: 3rem;
    width: 3rem;
    flex: 0 0 auto; /* Makes it so the width will be fixed, still horizontally centered though */
    /* object-fit: fill; */
    background-color: rgb(41, 41, 41);
    border: 0.2rem solid black;
    object-fit: cover;
}

.player-rank {
    width: 70px;
    text-align: center;
    flex: 0 0 auto;  /* Makes it so the width will be fixed, still horizontally centered though */
}

.player-name {
    width: 145px;
    text-align: center;
    font-weight: bold;
    text-shadow: 0.5px 0.5px 0 black;
    flex: 0 0 auto; /* Makes it so the width will be fixed, still horizontally centered though */
}


.player-name:hover {
    cursor: pointer;
    text-decoration: underline;
}

.player-points {
    width: 200px;
    flex: 0 0 auto; /* Makes it so the width will be fixed, still horizontally centered though */
    text-align: right;
}

/* Styling for the top three ranks */
.rank-one {
    color: gold;
    font-size: 2rem;
    /* font-weight: bold; */
    text-shadow: 
     0 0 4px #ffcc4d,
     0 0 8px #ffcc4d,
     0 0 12px #ffb300,
     0 0 16px #ffb300;
     
}

.rank-two {
    color: silver;
    font-size: 2rem;
    /* font-weight: bold; */
    text-shadow: 
     0 0 4px silver,
     0 0 8px silver,
     0 0 12px silver,
     0 0 16px silver;
     
}

.rank-three {
    color: #C9AE5D;
    font-size: 2rem;
    /* font-weight: bold; */
    text-shadow: 
     0 0 4px #C9AE5D,
     0 0 8px #C9AE5D,
     0 0 12px #C9AE5D,
     0 0 16px #C9AE5D;
     
}

.rank-element {
    width: 3rem;
    text-align: center;
}

/* Styling for the accreditation at bottom of page */
.credits {
    display: flex;
    align-items: center;
    justify-content: center;
}
